<p>loan works!</p>

<div  class ="conatiner">

    <div class="row">
     <div class="col">
       <div class ="loginform">
         <div class="main-div">

<div class="panel"
style="font-weight: bold; color:black">
    <h1>Loan</h1>
    <hr>
    <p class="text-success" 
      style="font-weight: bold; color:purple;">
      Please Enter Loan Application Details</p>                
    </div>
    Customer Id:
<input type="text" placeholder="Enter your id " ><br><br>

Loan Amount:
<input type="text" placeholder="Enter Loan Amount " ><br><br>

<!-- Trade Date: write code to display todays date -->
Trade Date:
<input type="text" placeholder="Enter trade Date " ><br><br>
Loan Start Date:
<input type="text" placeholder="Enter Loan start Date " ><br><br>
Maturity Date:
<input type="text" placeholder="Enter your Maturity Date " ><br><br>
Payment Frequency:
<input type="text" placeholder="Enter your Payment Frequency" ><br><br>
Interest Rate:
<input type="text" placeholder="Enter your Interest Rate " ><br><br>

<button (click) = "onClick()">Submit</button><br><br>
<button (click)="onBack()"  >Back</button>
         </div>
       </div>
    </div>
</div>
</div>
