<p>home works!</p>

<div class ="panel" >
    <p style="font-weight: bold; background-color:skyblue; padding: 30px; ">
     Loan Assignment</p>                
  </div>
   <div class="conatiner"> 
  
     <div class="row">
      <div class="col"> 
  
        <div class="loginform">
           
            <button  class="container1" 
             routerLink = "/loan"
             style="cursor: pointer"> 
              Loan
            </button>
  
            <br> <br>
            <button class="container1" 
            routerLink = "/payment "
            style="cursor: pointer;"> 
              Payment Schedule
            </button>

            <br> <br>
            <button class="container1" 

            style="cursor: pointer;"> 
             All Loans
            </button>
           </div>
        </div> 
    </div> 
   </div> 

   
